# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Ambientes virtuais
# =========================
.venv/
venv/
env/

# =========================
# Conda
# =========================
.conda/

# =========================
# Variáveis de ambiente
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Power BI
# =========================
*.pbi-tools-settings.json

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp
*.log